*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Libre Baskerville', serif;
}
section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
li {
    width: 200px;
    text-decoration: none;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}
h1 {
    font-size: 90px;
    margin: 0;
}
h2 {
    font-size: 40px;
}
p {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}
.scroll-progress {
    width:0;
    background-color: red;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
}
.subtext {
    font-size: 15px;
    font-weight: 300;
}
.header-rainbow {
    animation-name: rainbow;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#discription {
    animation-name: discription-color;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes rainbow {

0% {
    color: rgb(150, 0, 0);
}
15% {
    color:rgb(200, 115, 0);
}
30% {
    color: rgb(180, 180, 0);
}
45% {
    color: green;
}
60% {
    color: rgb(0, 0, 150);
}
75% {
    color: indigo;
}
90% {
    color: violet;
}

100% {
    color: rgb(150, 0, 0);
}
}

@keyframes discription-color {
    0% {
        color:  rgb(158, 164, 254);
    }
    100% {
        color: transparent;
    }
}
.jaz {
    height: 100vh;
    background-color:  #1c1d25;
    color: white;
    font-size: 40px;
}
.jaz-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.jaz-text {
    margin-left: 80px;
    margin-bottom: 100px;
    font-family: 'Silkscreen', cursive;
}
.button {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 20px;
    transition: 0.3s ease background-color;
}
.button:hover {
    background-color: #ee6234;
}

.button:active {
    background-color: #a9a9a9;
    color: #f7f7f7;
}
.socials {
    padding-bottom: 200px;
}
.logo {
    height: 50px;
    margin: 20px;
    position: fixed;
}
.social {
    margin: 20px;
}
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}
.headshot {
    width: 300px;
    border-radius: 150px;
    box-shadow: 5px 5px 20px;
}
.headshot-container {
    display: flex;
    align-items: center;
}
.project-container {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
.project-card {
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}
.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 10px;
}
.project-link {
    text-decoration: none;
    color: #ef744b;
}
.hamburger:focus {
    outline: 0;
}
.hamburger {
    display: none;
}
@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
    }
    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }
    .logo {
        display: none;
    }
    ul.show{
        display: block;
    }
}
.contact-container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-group{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    margin-top: 5px;
}
textarea{
    resize: vertical;
}
.submit-button {
    width: 100%;
    height: 45px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease background-color;
}
.submit-button:hover {
    background-color: #ee6234;
}

.submit-button:active {
    background-color: #a9a9a9;
    color: #f7f7f7;
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}
#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}
#status.error{
    background-color: rgb(250, 129, 92);
    animation: status 4s ease forwards;
}
@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 0;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}